AUTH_JWT_SECRET=g26C-ZtIh-Nl9u-PVnG-1VeU-GlWp-r55I-AE4u
DATABASE_URL=postgresql://postgres:12345678@127.0.0.1:5432/nhblog
DIRECT_URL=postgresql://postgres:12345678@127.0.0.1:5432/nhblog
REDIS_URL=redis://localhost:6379